body {
    background-color: #D9D9D9;
}

.Card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 790px;
    background-color: white;
    justify-content: center;

}

.Card__right {
    background: #b0e0e6;

}

.Card div {
    flex: 1;

}

.p {
    margin-left: 5rem;
    margin-top: 3rem;
}

.img {
    padding: 13rem 6rem 0 6rem;
}