.r-tab{
display: flex;
justify-content: flex-end;
}
.sun{
    width: 70px;
    height: 70px;
}
.profile, .l-tab, .r-tab{
    background-color:#d9bfdf;
    width: calc(80%+2px);
    border-radius: 25px;
    }
.l-tab, .r-tab{
    background-color:#d9bfdf;
    width: fit-content;
}
.end{
    text-align: end;
}
.wkday > li{
    display:inline-flex;
    list-style: none;
    padding: 7px;
    font-weight: bolder;
}
.push{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
}
.section{
    display: inline-flex;
}
/* .on-tag{
    background:#ac56ac;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding:1px 3px;
} */