.r-tab{
display: flex;
justify-content: flex-end;
}
.profile, .l-tab, .r-tab{
    background-color:#e254ff;
    width: calc(80%+2px);
    border-radius: 25px;
    }
.l-tab, .r-tab{
    background-color:#e254ff;
    width: fit-content;
}
.end{
    text-align: end;
}
.wkday > li{
    display:inline-flex;
    list-style: none;
    padding: 7px;
    font-weight: bolder;
}
.push{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
}
/* .bg-date{
    background-color: purple;
    width: 50px;
} */